extends _layout.pug

include ./blocks/card.pug
include ./blocks/pagination.pug

block content
  section
    header(class="major")
      h2 Библиотека
    div(class="posts")
      each item in articles
        +card(item, "/articles")

  +pagination(page, totalPages, "/articles")